body {
	background-color: #1E1B18;
    margin: 0;
    overflow: hidden
}

.ball-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.ball {
    width: 75px;
    height: 75px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}