body {
	background-color: #323232;
}

.huge-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
    font-size: 70px;
    color: #ffffff;
}

.link-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
    font-size: 43px;
    color: #8c9acb;
	cursor: pointer;
}

.smol-link-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
    font-size: 30px;
    color: #8c9acb;
	cursor: pointer;
}

.big-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
    font-size: 43px;
    color: #ffffff;
}

.small-text {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
    font-size: 30px;
    color: #ffffff;
}
