body {
	background-color: #151525;
}

.huge-text {
	font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #ffffff;
}

.big-text {
	font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #ffffff;
}

/* Style the smaller text */
.small-text {
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #dadaf8;
}
