body {
	background-color: #151525;
}

.huge-text {
	font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    color: #ffffff;
}

.big-text {
	font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #ffffff;
}

.small-text {
	font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #dadaf8;
}
